# Configuration 1:

# The number of benchmarks that should be deployed and run.
numberBenchmarks = 4;

# Define the targets for the deployment. 
# In the format: [{host1, numberOfBenchmarks}, {{host2, numberOfBenchmarks}}, ...]
# Where host1 has to be a reachable address and numberOfBenchmarks should add up to "numberBenchmarks".
targets = [{pod1, 2}, {pod2, 2}]

# the configuration file to use for this benchmarks
config = configs/antidote_pb.config

# the driver files to use for this configuration file
driver = drivers/antidote_nativ

---

# Configuration 2:

# The number of benchmarks that should be deployed and run.
numberBenchmarks = 4;

# Define the targets for the deployment. 
# In the format: [{host1, numberOfBenchmarks}, {{host2, numberOfBenchmarks}}, ...]
# Where host1 has to be a reachable address and numberOfBenchmarks should add up to "numberBenchmarks".
targets = [{pod1, 2}, {pod2, 2}]

# the configuration file to use for this benchmarks
config = configs/antidote_pb.config

# the driver files to use for this configuration file
driver = drivers/antidote_nativ